<html>
  <head>
    <title>FMSS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FMSS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/logout"
                ><span class="glyphicon glyphicon-log-in"></span> Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <center>
      <table
        class="table table-striped table-bordered table-hover table-sm"
        style="width: 80%; margin-top: 5%"
      >
        <thead>
          <tr>
            <th>Machine Name</th>
            <th>MTTF</th>
            <th>Repair Time</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for machine in machines %}
          <tr>
            <td>{{ machine.machineName }}</td>
            <td>{{ machine.MTTF }}</td>
            <td>{{ machine.repairTime }}</td>
            <td>{{ machine.quantity }}</td>
            <td>
              <form action="/deletemachine" method="POST">
                <input
                  type="hidden"
                  name="name"
                  value="{{ machine.machineName
                }}"
                />
                <button
                  class="btn btn-danger btn-sm rounded-0"
                  type="submit"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
    <center>
      <table
        class="table table-striped table-bordered table-hover table-sm"
        style="width: 80%; margin-top: 5%"
      >
        <thead>
          <tr>
            <th>Adjuster Type</th>
            <th>Expertise</th>
            <th>Number of Adjusters</th>
          </tr>
        </thead>
        <tbody>
          {% for adjuster in adjusters %}
          <tr>
            <td>{{ adjuster.adjusterType }}</td>
            <td>{{ adjuster.expertise }}</td>
            <td>{{ adjuster.numberOfAdjusters }}</td>
            <td>
              <form action="/deleteadjuster" method="POST">
                <input
                  type="hidden"
                  name="type"
                  value="{{ adjuster.adjusterType
                  }}"
                />
                <button
                  class="btn btn-danger btn-sm rounded-0"
                  type="submit"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </center>
    <center>
      <form class="form-inline" action="/simulate" method="POST">
        <div class="form-group">
          <label>Years:</label>
          <input type="number" class="form-control" name="numberOfYears" />
        </div>
        <button type="submit" class="btn btn-success">Simulation</button>
      </form>
    </center>
  </body>
</html>
